 
{
    "ssh": {
        "host": "127.0.0.1",
        "port": 2222,
        "username": "username",
        "password": "passwd",
        "remote_work_dir": "/home/username/oj_test"
    },
    "qemu": {
        "executable": "qemu-system-aarch64",
        "bios": "C:\\Program Files\\qemu\\share\\edk2-aarch64-code.fd",
        "drive": "C:\\Users\\username\\workspace\\qemu\\ubuntu.qcow2"
    }
}